*{
 box-sizing: border-box;
 margin: 0;
}
body{
    height: 600vh;
   
}
nav ul {
    background: #A7383E;
    width: 100%;
    list-style: none;
    overflow: hidden;
    /*Clearfix*/
  }
  
  nav ul li {
    float: left;
    width: 25%;
  }
  
  nav ul li a {
    color: #F3E5F5;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 65px;
    font-size: 2.5rem;
  }
  
  nav ul li a:hover {
    background: #F44336;
  }
  
  li ul {
    display: none;
  }
  
  li:hover ul {
    display: block;
  }

.slider-wrapper {

    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  .slider-wrapper input {
    position: absolute;
    left: -9999px;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    z-index: 2;
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.next {
    border-left: none;
    right: 1rem;
    border-bottom: none;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.prev {
    border-top: none;
    left: 1rem;
    border-right: none;
    z-index: 3;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.next:first-of-type {
    z-index: 3;
  }
  .slider-wrapper .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 1000ms cubic-bezier(0.68, -0.57, 0.33, 1.67) opacity;
  }
  .slider-wrapper .slide img {
    width: 100%;
    height: auto;
  }
  .slider-wrapper .slider-nav {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
  }
  .slider-wrapper .slider-nav .nav-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .slider-wrapper .slider-nav .nav-button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .slider-wrapper #slide1:checked ~ .slider-content .slide1 {
    opacity: 1;
  }
  .slider-wrapper #slide1:checked ~ .slider-nav .nav-button[for="slide1"] {
    background: white;
  }
  .slider-wrapper #slide1:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide1"]
  + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide1:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide1"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide1:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide1"],
  .slider-wrapper #slide1:checked
  ~ .slider-arrow-nav
  .nav-arrow.prev[for="slide1"]
  ~ .nav-arrow.prev {
    z-index: 2;
  }
  .slider-wrapper #slide2:checked ~ .slider-content .slide2 {
    opacity: 1;
  }
  .slider-wrapper #slide2:checked ~ .slider-nav .nav-button[for="slide2"] {
    background: white;
  }
  .slider-wrapper #slide2:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide2"]
  + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide2:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide2"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide2:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide2"],
  .slider-wrapper #slide2:checked
  ~ .slider-arrow-nav
  .nav-arrow.prev[for="slide2"]
  ~ .nav-arrow.prev {
    z-index: 2;
  }
  .slider-wrapper #slide3:checked ~ .slider-content .slide3 {
    opacity: 1;
  }
  .slider-wrapper #slide3:checked ~ .slider-nav .nav-button[for="slide3"] {
    background: white;
  }
  .slider-wrapper #slide3:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide3"]
  + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide3:checked
  ~ .slider-arrow-nav
  .nav-arrow.next[for="slide3"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide3:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide3"],
  .slider-wrapper #slide3:checked
  ~ .slider-arrow-nav
  .nav-arrow.prev[for="slide3"]
  ~ .nav-arrow.prev {
    z-index: 2;
  }
  
  .slider-content h1{
    font-size: 3.5rem;
    color: #A7383E;
    text-align: center;
    padding-top: 15%;
  }

/* Main content start here */

  .row{

    width: 100%;
    flex-direction: column;
   

  
}
/* .col-1{width: 8.33%;} */

/* .col-2{width: 16.66%;} */

 .col-3{width: 25%;} 
/* 
.col-4{width: 33.33%;} */

/* .col-5{width: 41.66%;}

.col-6{width: 50%;}

.col-7{width: 58.33%;}

.col-8{width: 66.66%;}

.col-9{width: 75%;}

.col-10{width: 83.33%;}

.col-11{width: 91.66%;}

.col-12{width: 100%;} */
[class*="col-"]{

    float: left;

    
}


.img-responsive{

    width: 100%;

}
.panner{
    background-color: #A7383E;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    border-radius: 10px;
    
}

.panner>h1{
    font-size: 50px;
    color: rgb(241, 236, 236);
    text-align: center;
}
h1{
  animation: move;
  animation-duration: 10s;
}
@keyframes move{
  0% {
    opacity: 0;
    
    transform: translate3d(-300rem, 0, 0);
  }

  60% {
    opacity: 1;
    
    transform: translate3d(2.5rem, 0, 0);
  }

  75% {
    
    transform: translate3d(-1rem, 0, 0);
  }

  90% {
  
    transform: translate3d(2.5rem, 0, 0);
  }

  to {
  
    transform: translate3d(0, 0, 0);
  }
}
button{
    color: #fff;
    background-color: #A7383E;
    padding: .5rem 1rem;
    font-size: 20px;
    line-height: 20px;
    border-radius: 10px;
}
button{
   opacity:0.3;  
} 

button:hover{
  opacity:1;
  transition:all 2s; 
}
.card{
    padding: 5px;
}
.card-content{
    border: 1px solid rgb(148, 139, 139);
    text-align: center;
   
}
.card-content>p{
  
  
  color: rgb(8, 8, 8);
}
.card-content>img{
    height: 200px;
    width: 100%;
    opacity:0.3;

}

.card-content>img:hover{
 opacity:1;
 transition:all 2s;
}
section p{
  color: black;
}
section img:hover{
  border-radius: 10px 10px 10px 10px;
  animation-name:img;
  animation-duration: 5s;
}
@keyframes img { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

section h3{
  text-align: center;
}
.words{
  float: right;
  width:90%;
  text-align: center;
  margin-top: 50px;
  
  
  
}
.words h3{
  font-size: 35px;
  animation-name:flickerAnimation;
  animation-duration: 5s; 
}
.words ul li{
  list-style-type: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


/* .card-content:nth-child(4){
  height: 400px; */
  



.card-content>div{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
}
@media (max-width: 600px){
    .card, .card-content {
        width: 100%;
        height: auto;
    }
}

  /* footer start here */
  .container{
    display: flex;
    flex-direction: row;
   
    background-color: #6767;
    width: 100vw;
    height: 40vh;
}
.left{
    flex: 30vw;
    /* background-color: #080; */
    
    
}
iframe{
    border-radius:  100px;
    width: 10rem;
    height: 10rem;
    /* border: 2px solid black; */
    
    
}
.left iframe{
    
   width: 100%;
    height: 13rem;
}

.main{
    flex: 60vw;
    /* background-color: #ff0000; */
    justify-content: center;
   
    text-align: center;
    padding-top: 3rem;
}
.right{
    flex: 30vw;
    /* background-color: #660066; */
   position: relative;
}
 .right>i{
     color: #ff0000;
     position: absolute;
     top: 7rem;
     right: 2rem;
     font-size: 2rem;
     
     
 }
.footerFo{
    display: flex;
    justify-content: space-between;
  
    width: 100vw;
    height: 10vh;
    /* background-color: blue; */
    background-color: rgba(73, 77, 73, 0.467);
    
    

}
p{
    color: #ddd;
    padding: 0.50rem;
    /* margin: 1rem;  */
    font-size: 1rem;
}  
p a{
    text-decoration: none;
    color: #ddd;
   
}
a:hover{
    color: #00ff88;
}
.icon{
    
    
    /* position: absolute;  */
    top: 10rem;
    right: 2.5rem;
}
.icon i{
    font-size: 2rem;
    width: 3rem;
    color: rgb(97, 81, 81);
    /* transition: all .5s ease-in-out */
    
    
} 
i:hover{
    color:#0000ff ;
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
    /* transform: rotateX(320deg); */
    
}
 
.banner{
  padding-top: 35%;
}




